html {
    scroll-behavior: smooth;
}

body {
    background-color: #292A31;
}

.bg-dark {
    background: #3C3D46 !important;
}

.navbar-brand {
    color: #4871FF !important;
    font-weight: bold;
    font-size: 24px;
}

.nav-link {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 32px;
    color: #F8F8F8 !important;
    text-align: center;
}

.nav-link:hover {
    color: #FFB700 !important;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    background-color: #FFB700;
    color: black;
    margin-top: 32px;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding: auto;
}

.jumbotron {
    background: #000;
    background-image: url(../img/reza.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 500px;
    padding-top: 300px;
    height: 850px;
    margin-top: -60px;
    text-align: center;
}

.jumbotron h1 {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: bold;
    color: #4871FF;
}

.jumbotron h2 {
    margin-top: 50px;
    font-family: 'poppins';
    font-size: 24px;
    font-weight: bold;
    color: #F8F8F8;
}

.jumbotron p {
    font-family: 'poppins';
    font-size: 24;
    color: #F8F8F8;
}

.about img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.judul {
    margin: 80px;
    font-weight: bold;
    font-size: 32px;
}

.about h2 {
    font-family: 'Poppins';
    font-size: 24;
    font-weight: bold;
    color: #F8F8F8;
    text-align: center;
    margin-top: 40px;
}

.about p {
    font-family: 'Poppins';
    font-size: 18px;
    color: #F8F8F8;
    margin: 32px auto;
    text-align: center;
}

.about .btn-primary {
    margin: 32px auto;
    padding: auto;
}

.portfolio h2 {
    font-family: 'Poppins';
    font-weight: bold;
    color: #F8F8F8;
    margin-top: 100px;
    text-align: center;
}

.jobfinder {
    background-image: url(/img/Travelkuy.png);
    border-radius: 24px;
    background-size: cover;
    width: 80vw;
    height: 60vw;
    margin: 20px auto;
    transition: 500ms;
}

.portfolio h4 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #F8F8F8;
    margin-top: 32px;
    text-align: center;
    justify-content: center;
}

.portfolio .btn {
    margin: auto;
    width: 180px;
    height: 50px;
    margin-top: 18px;
}

.portfolio .row .jobfinder {
    margin-top: 64px;
}

.portfolio .btn-outline-secondary {
    font-family: 'Poppins';
    font-weight: 500;
}

.portfolio .btn-outline-secondary:hover {
    font-family: 'Poppins';
    font-weight: 500;
    background-color: #4871FF;
}

.site {
    width: 90vw;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.container .get {
    margin-top: 140px;
}

.get {
    border: 2px solid #3C3D46;
    border-radius: 10px;
    height: 250px;
}

.get h3 {
    font-family: 'Poppins';
    font-weight: 800;
    color: #F8F8F8;
    padding: 10px;
    margin: 33px 60px;
}

.get .btn-primary {
    margin: 5px auto;
    padding: auto;
}

.Tool h2 {
    font-family: 'Poppins';
    font-weight: bold;
    color: #F8F8F8;
    margin-top: 100px;
    text-align: center;
}

.skill .col {
    text-align: center;
    margin: 20px;
    flex-wrap: wrap;
}

.footer {
    background: #000;
    margin-top: 120px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.footer h2 {
    font-family: 'Poppins';
    font-size: 24;
    font-weight: bold;
    color: #F8F8F8;
    margin-top: 80px;
}

.background-img {
    background-image: url(/img/Group\ 13.png);
    background-size: cover;
    opacity: 40%;
    width: 300px;
    height: 320px;
    position: absolute;
    margin-top: 30px;
    right: -5px;
}

.iconify {
    width: 24px;
    height: 24px;
    margin-top: 24px;
    margin-right: 16px;
}


/* hp */

@media (min-width: 360px) {}


/* tablet */

@media (min-width: 992px) {
    .jumbotron {
        text-align: left;
        height: 900px;
    }
    .jumbotron h1 {
        font-family: 'Poppins';
        font-size: 50px;
        font-weight: bold;
        color: #4871FF;
    }
    .jumbotron h2 {
        font-family: 'poppins';
        font-size: 36px;
        font-weight: bold;
        color: #F8F8F8;
    }
    .jumbotron p {
        font-family: 'poppins';
        font-size: 24px;
        color: #F8F8F8;
    }
    .nav-link {
        font-family: 'Poppins';
        font-size: 20px;
        margin-right: 32px;
        color: #F8F8F8 !important;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        color: #FFB700 !important;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 3px solid #FFB700;
        width: 50%;
        margin: auto;
        padding-bottom: 4px;
        margin-bottom: -7px;
    }
    .bg-dark {
        background: #000 !important;
        height: 80px;
    }
    .about img {
        width: 500px;
        margin: 10px -100px;
    }
    .about h2 {
        font-family: 'Poppins';
        font-size: 24;
        font-weight: bold;
        color: #F8F8F8;
        text-align: left;
        margin-left: 60px;
    }
    .about .judul {
        text-align: center;
    }
    .about p {
        font-family: 'Poppins';
        font-size: 18px;
        color: #F8F8F8;
        margin: 32px 60px;
        text-align: left;
    }
    .about .btn-primary {
        margin-right: 240px;
        padding: auto;
    }
    .get {
        border: 2px solid #3C3D46;
        border-radius: 10px;
        height: 120px;
    }
    .get .btn-primary {
        margin: 32px 170px;
        padding: auto;
    }
    .jobfinder {
        background-image: url(/img/Travelkuy.png);
        background-size: cover;
        border-radius: 24px;
        width: 400px;
        height: 300px;
        margin: auto;
        transition: 500ms;
    }
    .jobfinder:hover {
        transform: scale(1.1);
    }
    .portfolio h2 {
        font-family: 'Poppins';
        font-weight: bold;
        color: #F8F8F8;
        margin: 40px;
        text-align: center;
    }
    .portfolio h4 {
        font-family: 'Poppins';
        font-weight: 500;
        color: #F8F8F8;
        margin-top: 32px;
        text-align: center;
        justify-content: center;
    }
    .portfolio .btn {
        margin: auto;
        width: 180px;
        height: 50px;
        margin-top: 18px;
    }
    .site {
        width: 380px;
        text-align: center;
        margin: 0 auto;
    }
    .portfolio .content {
        width: 100%;
    }
    .portfolio .row .col-xl-3 {
        margin-right: 50px;
        margin-left: 80px;
    }
    .portfolio .btn-outline-secondary {
        font-family: 'Poppins';
        font-weight: 500;
    }
    .portfolio .btn-outline-secondary:hover {
        font-family: 'Poppins';
        font-weight: 500;
        background-color: #4871FF;
    }
    .Tool h2 {
        font-family: 'Poppins';
        font-weight: bold;
        color: #F8F8F8;
        margin-top: 100px;
        margin-bottom: 32px;
        text-align: center;
    }
    .skill .col img {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 80px;
        width: 80px;
        height: 80px;
    }
    .footer {
        background: #000;
        margin-top: 120px;
        height: 300px;
        position: relative;
        overflow: hidden;
    }
    .footer h2 {
        font-family: 'Poppins';
        font-size: 24;
        font-weight: bold;
        color: #F8F8F8;
        margin-top: 80px;
    }
    .background-img {
        background-image: url(/img/Group\ 13.png);
        background-size: cover;
        opacity: 100%;
        width: 300px;
        height: 320px;
        position: absolute;
        margin-top: 30px;
        right: -5px;
    }
    .iconify {
        width: 32px;
        height: 32px;
        margin-top: 24px;
        margin-right: 16px;
    }
}